<div class="produto">
    <h1>{{this.nome}}</h1>
    <p>R$ {{this.valor}}</p>
    <p>Validade: {{this.validade}} </p>
    <p>Sabor: {{this.sabor}}</p>
    <a href="/produtos/achocolatados/{{this.rota}}">Veja mais!</a>
</div>

<hr>
